{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}
<style>
   #menuwrapper ul,
      #menuwrapper ul li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      #menuwrapper {
        position: relative;
        left: 0;
        top: 0;
        bottom: 0;
      }
      #sidemenu {
        background: #272727;
        width: 110px;
        height: 100%;
      }
      /* We apply background color and border bottom white and width to 150px */
      #menuwrapper ul li {
        background-color: #272727;
        width: 110px;
        cursor: pointer;
        text-align: center;
      }

      /* We apply the background hover color when user hover the mouse over of the li component */
      #menuwrapper ul li:hover {
        background-color: #3f68de;
      }

      /* We apply the link style */
      #menuwrapper ul li a {
        padding-top: 20px;
        padding-bottom: 20px;
        color: #555555;
        display: inline-block;
        text-decoration: none;
      }

      #menuwrapper ul li a.selected {
        color: #ddd;
      }
      #menuwrapper ul li a:hover {
        color: #3f68de;
        transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
      }
      /* the triangle */
      #menuwrapper ul li a:hover:after {
        content: "  ";
        display: inline-block;
        border-bottom: 0.8em solid transparent;
        border-left: 0.8em solid transparent;
        border-right: 0.8em solid #3f68de;
        border-top: 0.8em solid transparent;
        height: 0px;
        margin-top: -2px;
        position: absolute;
        left: 91px;
        width: 1px;
        transition: border-right 1s ease;
        -o-transition: border-right 1s ease;
        -webkit-transition: border-right 1s ease;
        -moz-transition: border-right 1s ease;
      }

      #menuwrapper ul li a.noflyout:hover:after {
        border-right: 0.8em solid transparent;
        transition: none;
        -o-transition: none;
        -webkit-transition: none;
        -moz-transition: none;
      }
      /**** SECOND LEVEL MENU ****/
      /* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
      #menuwrapper ul li ul {
        position: absolute;
        display: block;
        visibility: hidden;
        height: 100%;
        background-color: transparent;
        width: 0px;
        color: #fff;
      }

      #menuwrapper ul li ul li {
        color: #fff;
        background: transparent;
        padding: 15px;
      }
      /* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */

      #menuwrapper ul li:hover ul {
        left: 110px;
        top: 0px;
        display: block;
        visibility: visible;
        width: 90%;
        background-color: #3f68de;
        transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
      }
</style>
<nav class="header__inline-menu"  id="menuwrapper">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </summary>
              <ul
                id="HeaderMenu-MenuList-{{ forloop.index }}"
                class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                role="list"
                tabindex="-1"
              >
                {%- for childlink in link.links -%}
                  <li>
                    {%- if childlink.links == blank -%}
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                        <summary
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          class="header__menu-item link link--text list-menu__item focus-inset caption-large"
                        >
                          <span>{{ childlink.title | escape }}</span>
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </summary>
                        <ul
                          id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                          class="header__submenu list-menu motion-reduce"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
