{% assign part_collection = product.metafields.custom.dhm_promos_parts %}
{% assign part_collection_len = collections[part_collection].all_products_count %}
{% comment %}
  <h3 class=' twcss-text-3xl twcss-mb-8 t twcss-ml-10 '>{{ collections[part_collection].title }}</h3>

  <h4>Total Products in this Collection: {{ collections[part_collection].all_products_count }}</h4>
{% endcomment %}
<ul
  role='list'
  class=' twcss-grid twcss-grid-cols-1 lg:twcss-grid-cols-4 twcss-gap-x-10 twcss-gap-y-8 twcss-px-10'
>
  {% comment %}
    using limit above to limit amount of parts that are retrieved from the collection
    NOTE: try twcss-px-6 to evalute padding, then use for all similar lists
  {% endcomment %}
  {% for product in collections[part_collection].products limit: 4 %}
    <li class='twcss-flex twcss-flex-col  twcss-py-6  twcss-mb-6'>
      <a href='{{product.url}}'>
        <img
          class=' twcss-flex-none twcss-border twcss-rounded-lg'
          width='100%'
          height='100%'
          src='/cdn/shop/{{product.featured_image | image_url: 'small'}}'
          alt='{{product.featured_image.alt}}'
        >
      </a>
      <div class='twcss-min-w-0 twcss-mt-5'>
        <p class='twcss-text-3xl twcss-font-semibold twcss-text-gray-900 twcss-leading-[1.5]'>
          <a href='{{product.url}}' class=' twcss-text-primaryGreen hover:twcss-text-primaryGreenDark'>
            {{- product.title -}}
          </a>
        </p>
        <p class='twcss-mt-1 twcss-text-2xl twcss-text-gray-500'>
          {{ product.price | money }}
        </p>
      </div>
    </li>
  {% endfor %}
</ul>
{% comment %}
  using limit above to limit amount of parts that are retrieved from the collection
{% endcomment %}
{% assign max_prods = 4 %}
{% if max_prods <= part_collection_len %}
  <p class='twcss-text-center'>
    <a
      href='{{ routes.collections_url }}/{{part_collection}}'
      class='   twcss-bg-gray-200 hover:twcss-bg-gray-400 twcss-text-primaryGreen hover:twcss-text-white twcss-p-12 twcss-block twcss-rounded-b-lg  twcss-text-3xl twcss-mt-5 twcss-text-center'
    >
      View {{ collections[part_collection].title -}}
    </a>
  </p>
{% endif %}
