{% assign general_specs = "
In the Package : dhm_general_in_the_box ,
Part Number(s) : dhm_general_part_numbers ,
Size(s) : dhm_physical_sizes ,
HCPCS Code : dhm_general_hcpcs ,
GTIN Number(s) : dhm_general_gtins ,
Warranty : dhm_promos_warranty ,
Risk Free Trial : dhm_promos_risk_free_trial ,
Intended Use : dhm_general_intended_use ,
Typical Country of Origin : dhm_general_country ,
Compatibility : dhm_general_compatibility ,
Notes : dhm_general_notes ,
" %}
{% assign general_specs_split = general_specs | split: ',' %}
{% assign path = product.metafields.custom %}

 <h3 class="twcss-px-6  twcss-py-8  twcss-font-semibold twcss-text-primaryGreen  twcss-text-2xl ">
        PRODUCT DETAILS
</h3>
<div style="font-size:90%; font-kerning: normal; font-family:verdana, sans-serif;" class="twcss-border-t">
  <dl class="twcss-px-6 twcss-divide-y twcss-divide-gray-100 ">
      <div class="twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt class="twcss-font-bold twcss-text-gray-900  term">Manufacturer</dt>
        <dd class="twcss-mt-1  twcss-text-gray-700 md:twcss-col-span-2 md:twcss-mt-0"><a href="https://directhomemedical.com/collections/all-products?filter.p.vendor={{ product.vendor }}&sort_by=best-selling">{{ product.vendor }}<a/></dd>
      </div>
    <div class="twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt class="twcss-font-bold twcss-text-gray-900  term">Product Model</dt>
        <dd class="twcss-mt-1  twcss-text-gray-700 md:twcss-col-span-2 md:twcss-mt-0"><a href="https://directhomemedical.com/search?product.metafields.custom.dhm_general_product_model">{{ product.metafields.custom["dhm_general_product_model"] }}</a></dd>
      </div>

                    {% if product.metafields.custom["dhm_general_rx_required"] != null %}
                <div class="  twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt class="twcss-font-bold twcss-text-gray-900  term">Prescription Item</dt>
        <dd class="twcss-mt-1  twcss-text-gray-700 md:twcss-col-span-2 md:twcss-mt-0">A prescription required before this item can be shipped.</dd>
      </div>
       {% endif %}

{% for spec in general_specs_split %}
    {% assign spec_parts = spec | split: ":" %}
    {% assign spec_name = spec_parts[0] | strip %}
    {% assign spec_handle = spec_parts[1] | strip %}

    {% if product.metafields.custom[spec_handle] %}
      <div class="twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt class="twcss-font-bold twcss-text-gray-900  term">{{spec_name}}</dt>
        <dd class="twcss-mt-1  twcss-text-gray-700 md:twcss-col-span-2 md:twcss-mt-0">{{path[spec_handle]| metafield_tag}}</dd>
      </div>
    {% endif %}
{% endfor %}

          {% if product.metafields.custom["dhm_promos_faa"] != null %}
                <div class="twcss-py-3 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt class="twcss-font-bold twcss-text-gray-900  term">FAA Approved</dt>
        <dd class="twcss-mt-1  twcss-text-gray-700 md:twcss-col-span-2 md:twcss-mt-0">This product meets FAA regulations for use on commercial flights within the US and all international flights that depart or arrive in the US. <a href="https://www.tsa.gov/travel/tsa-cares"Click here for TSA / FAA information on traveling with sleep and oxygen therapy.</a> Always contact your airline prior to your flight to confirm any requirements they may have (i.e. a copy of your prescription or a letter of medical necessity) for allowing your device on board.</dd>
      </div>
       {% endif %}

  </dl>
</div>