{% assign product_specs = "
DHM Promos - List : dhm_promos ,
DHM Promos - Free Trial : dhm_promos_risk_free_trial ,
DHM Promos - Warranty : dhm_promos_warranty ,
DHM Promos - Free Gift : dhm_promos_free_gift ,
DHM Promos - Parts Code : dhm_promos_parts ,
Sound Levels : dhm_shared_sound_level ,
Altitude Adjustments : dhm_shared_altitude ,
Filters : dhm_shared_filter_types ,
Alerts : dhm_shared_alerts ,
HCPCS Code : dhm_general_hcpcs ,
In the Package : dhm_general_in_the_box ,
Intended Use : dhm_general_intended_use ,
Prescription Required : dhm_general_rx_required ,
Country : dhm_general_country ,
Compatibility : dhm_general_compatibility ,
DHM Phys - Activator : dhm_physical_activator ,
DHM Sizes - List : dhm_physical_sizes ,
Length : dhm_physical_length ,
Length (Depth) : dhm_physical_dimension_length ,
Width : dhm_physical_dimension_width ,
Height : dhm_physical_dimension_height ,
Sizes - Inner Diameter : dhm_physical_inner_diameter ,
Weight : dhm_physical_weight ,
Materials : dhm_physical_materials ,
Ingredients : dhm_physical_ingredients ,
DHM Sleep - Mask Type (Activator) : dhm_sleep_mask_type ,
DHM Sleep - Machine Modes (Activator) : dhm_sleep_machine_modes ,
Comfort Tech : dhm_sleep_machine_comfort_tech ,
Rainout Reduction : dhm_sleep_machine_rainout_reduction ,
Ramp : dhm_sleep_machine_ramp ,
Leak Compensation : dhm_sleep_machine_leak_compensation ,
Auto On Off : dhm_sleep_machine_auto_on_off ,
Oxygen Compatibility : dhm_sleep_machine_oxygen_compatibility ,
DHM Cannula - Prong Style (Activator) : dhm_oxygen_cannula_prong_style ,
Max Flow : dhm_oxygen_cannula_max_flow ,
Tubing Style : dhm_oxygen_cannula_tubing_style ,
Faceplate Width : dhm_oxygen_cannula_faceplate_width ,
Prong Length : dhm_oxygen_cannula_prong_length ,
Prong Width : dhm_oxygen_cannula_prong_width ,
DHM Concentrator - Type (Activator) : dhm_oxygen_machine_type ,
Continuous Range : dhm_oxygen_machine_continuous_range ,
Warmup Time : dhm_oxygen_machine_warmup_time ,
Concentration : dhm_oxygen_machine_concentration ,
OPI : dhm_oxygen_machine_opi ,
DHM Data - Included (Activator) : dhm_shared_data_included ,
Data Storage : dhm_shared_data_storage ,
Data Viewing Options : dhm_shared_data_viewing ,
Humidifier Compatibility : dhm_humidifier_compatibility ,
Humidifier Settings : dhm_humidifier_settings ,
Chamber Capacity : dhm_humidifier_chamber_capacity ,
Range (Activator) : dhm_power_ac_range ,
AC Power Cord Length : dhm_power_ac_length ,
AC Cord Weight : dhm_power_ac_weight ,
AC - Brick Dimensions : dhm_power_ac_brick_dimensions ,
DHM DC - Input (Activator) : dhm_power_dc_input ,
Cord Length : dhm_power_dc_length ,
DC - Cord Weight : dhm_power_dc_weight ,
AC - Consumption : dhm_power_ac_consumption ,
DC - Consumption : dhm_power_dc_consumption ,
DC - Brick Dimensions : dhm_power_dc_brick_dimensions ,
DHM Battery - Type (Activator) : dhm_power_battery_type ,
Battery Capacity : dhm_power_battery_capacity ,
Battery Life Cycles : dhm_power_battery_life_cycles ,
Battery Recharge Time : dhm_power_battery_recharge_time ,
Battery Run Time : dhm_power_battery_run_time ,
Battery Dimensions : dhm_power_battery_dimensions ,
Battery Weight : dhm_power_battery_weight ,
Battery Shipping Notice : dhm_power_battery_shipping_notice ,
DHM Gen - Model Sleep : dhm_general_product_model ,
DHM Concentrator - Pulse Range : dhm_oxygen_machine_pulse_range ,
DHM Cannula - Prong Separation : dhm_oxygen_cannula_prong_separation ,
DHM Gen - Product Type : dhm_general_product_type ,
DHM Cannula - Prong Profile Side : dhm_oxygen_cannula_prong_profile_side ,
DHM Promos - FAA : dhm_promos_faa ,
DHM Hum - Chamber Type : dhm_humidifier_chamber_type ,
DHM Neb - Liter Flow : dhm_nebulizer_liter_flow ,
DHM Neb - Pressure : dhm_nebulizer_pressure ,
DHM Neb - Nebulization Rate : dhm_nebulizer_nebulization_rate ,
DHM Neb - Median Diameter : dhm_nebulizer_median_diameter ,
DHM Neb - Modes of Operation : dhm_nebulizer_modes_of_operation ,
DHM Neb - Capacity : dhm_nebulizer_capacity ,
DHM Neb - Treatment Time : dhm_nebulizer_treatment_time ,
DHM Sleep - Pressure Range : dhm_sleep_pressure_range ,
DHM Sleep - Machine Tubing Compatibility : dhm_sleep_machine_tubing_compatibility ,
DHM Res - Description : dhm_shared_description ,
DHM Res - Videos : dhm_resources_videos ,
DHM Gen - Model Oxygen : dhm_general_product_model_oxygen ,
DHM Gen - Model Asthma : dhm_general_product_model_asthma ,
DHM Gen - Part Numbers : dhm_general_part_numbers ,
DHM Gen - GTINS : dhm_general_gtins ,
DHM O2 - Max Tubing Length : dhm_oxygen_maximum_tubing_length ,
DHM Neb - Respirable Fraction : dhm_nebulizer_respirable_fraction ,
DHM Res - PDF Files : dhm_resources_pdf_files ,
DHM Sleep - Mask Sizing Guide PDF : dhm_sleep_mask_sizing_guide_pdf ,
" %}
{% assign product_specs_split = product_specs | split: ',' %}
{% assign path = product.metafields.custom %}

 <h3 class="twcss-px-6  twcss-py-8  twcss-font-semibold twcss-text-primaryGreen twcss-uppercase twcss-text-2xl ">
        Product Specifications
</h3>
<div class="twcss-border-t twcss-border-gray-200 px">
  <dl class="twcss-divide-y twcss-divide-gray-200 ">
      <div class=" twcss-px-6  twcss-py-6 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt class="twcss-mt-1  twcss-text-xl  twcss-font-bold twcss-text-gray-900 twcss-uppercase term">Manufacturer</dt>
        <dd class="twcss-mt-1  twcss-text-gray-700 md:twcss-col-span-2 md:twcss-mt-0"><a href="https://directhomemedical.com/collections/all-products?filter.p.vendor={{ product.vendor }}&sort_by=best-selling">{{ product.vendor }}<a/></dd>
      </div>
    <div class=" twcss-px-6  twcss-py-6 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt class="twcss-mt-1  twcss-text-xl  twcss-font-bold twcss-text-gray-900 twcss-uppercase term">Product Model</dt>
        <dd class="twcss-mt-1  twcss-text-gray-700 md:twcss-col-span-2 md:twcss-mt-0"><a href="https://directhomemedical.com/search?product.metafields.custom.dhm_general_product_model">{{ product.metafields.custom["dhm_general_product_model"] }}</a></dd>
      </div>
{% for spec in product_specs_split %}
    {% assign spec_parts = spec | split: ":" %}
    {% assign spec_name = spec_parts[0] | strip %}
    {% assign spec_handle = spec_parts[1] | strip %}

    {% if product.metafields.custom[spec_handle] %}
      <div class=" twcss-px-6  twcss-py-6 md:twcss-grid md:twcss-grid-cols-3 md:twcss-gap-4 ">
        <dt class="twcss-mt-1  twcss-text-xl  twcss-font-bold twcss-text-gray-900 twcss-uppercase term">{{spec_name}}</dt>
        <dd class="twcss-mt-1  twcss-text-gray-700 md:twcss-col-span-2 md:twcss-mt-0">{{path[spec_handle]| metafield_tag}}</dd>
      </div>
    {% endif %}
{% endfor %}
  </dl>
</div>