<div class="page-width">
  <div id="description" class="twcss-w-full twcss-mx-auto twcss-p-10 ">
  <h2 class=" twcss-text-4xl twcss-leading-relaxed">{{product.description}}</h2>
  </div>
  <div id="the_acc" class=" twcss-space-y-6">
  <div class="twcss-flex twcss-mx-auto twcss-mt-10 "> 
    <!-- Accordion -->
    <div id="description_details" x-data="{ expanded: true}"  role="region" class=" twcss-w-full twcss-border twcss-border-slate-400">
      <h2 class="twcss-mb-4">
      <button @click="expanded = !expanded" class="twcss-flex twcss-items-center twcss-justify-between twcss-w-full twcss-px-8 twcss-py-8 twcss-font-bold twcss-text-2xl  twcss-bg-slate-100 ">
        <span >Product Description</span>
        <span x-show=" expanded" aria-hidden="true" class=" twcss-ml-4">&minus;</span>
        <span x-show=" !expanded" aria-hidden="true" class=" twcss-ml-4">&plus;</span>
    </button>
  </h2>
  <div x-show="expanded" class="twcss-pb-4 twcss-px-6 twcss-w-full twcss-flex twcss-flex-col md:twcss-flex-row" x-collapse>
    <div class=" twcss-w-2/3 twcss-py-5 twcss-pr-10 twcss-pl-5 twcss-pt-10"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus fugit cumque ut facilis, tempore quae drat reiciendis autem est dolorum sint repudiandae omnis natus doloremque incidunt facere molestias. Quibusdam, iste inventore?</div>
    <div class="twcss-w-1/3 twcss-p-5" > 
    <h3 class=" twcss-text-3xl twcss-mb-8">Related Products</h3>
     {% assign part_collection = "all-airfit-n20-airtouch-nasal-cpap-mask-parts" %}
     {{ part_collection.title }}
     <ul role="list" class="divide-y divide-gray-100">
     {% for product in collections[part_collection].products  limit: 5%}
      <li class="twcss-flex twcss-gap-x-4 twcss-py-5">
        <img class="twcss-size-32 twcss-flex-none  twcss-border" src="{{product.featured_image | img_url: 'small'}}" alt="{{product.featured_image.alt}}">
        <div class="twcss-min-w-0">
          <p class="twcss-text-2xl twcss-font-semibold twcss-truncate twcss-text-gray-900"><a href="{{product.url}}">{{product.title}}</a></p>
          <p class="twcss-mt-1  twcss-text-2xl twcss-text-gray-500">{{product.price |  money}}</p>
        </div>
      </li>
     {% endfor %}
     </ul>
    </div>
   
  </div>

    </div>
  </div>
      <!-- end acccordion 1 above -->

   <div class="twcss-flex twcss-mx-auto twcss-mt-10  "> 
    <!-- Accordion 2 -->
    <div id="description" x-data="{ expanded: false}" role="region" class=" twcss-w-full twcss-border twcss-border-slate-400">
      <h2>
      <button @click="expanded = !expanded" class="twcss-flex twcss-items-center twcss-justify-between twcss-w-full twcss-px-8 twcss-py-8 twcss-font-bold twcss-text-2xl twcss-bg-slate-100">
        <span >Product Specifications</span>
        <span x-show=" expanded" aria-hidden="true" class=" twcss-ml-4">&minus;</span>
        <span x-show="!expanded" aria-hidden="true" class=" twcss-ml-4">&plus;</span>
    </button>
  </h2>
  <div x-show="expanded" class="twcss-pb-4 twcss-px-6 " x-collapse>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus fugit cumque ut facilis, tempore quae drat reiciendis autem est dolorum sint repudiandae omnis natus doloremque incidunt facere molestias. Quibusdam, iste inventore?
  </div>

    </div>
  </div>
  </div>
  <!-- end all acccordion above -->

</div>